In [91]:
import pandas as pd
import statistics
import math
from numpy import nan

In [92]:
#import table
data = "/Users/m221138/RA_plasma_metabolites/data/patient_training_data.csv"
data_df = pd.read_csv(data)
r, c = data_df.shape
data_df

,patientID,mcID,visit,das28,age,sex,bmi,smoke,rf,anti_ccp
0,ST-00010415,2715364,1,1.63195,75,male,34.60,former,positive,positive
1,ST-00010415,2715364,2,2.77995,76,male,37.57,former,NaN,NaN
2,ST-00010421,3025155,1,2.58632,70,male,23.70,former,negative,negative
3,ST-00010421,3025155,2,1.49195,71,male,NaN,former,NaN,NaN
4,ST-00011458,2531748,1,1.78595,69,female,NaN,never,NaN,negative
...,...,...,...,...,...,...,...,...,...,...
123,ST-00732959,6112046,2,1.56195,60,female,41.65,former,NaN,NaN
124,ST-00739471,6466177,1,1.67395,62,male,29.80,former,positive,negative
125,ST-00739471,6466177,2,2.45448,62,male,30.20,former,NaN,NaN
126,ST-00745902,7450086,1,2.94037,52,male,24.30,current (within 3 months),positive,positive
127,ST-00745902,7450086,2,2.12910,52,male,24.40,current (within 3 months),NaN,NaN

In [111]:
def info_to_list (visit_dict, data_df, i):
    
    das = float(data_df.iloc[i,3])
    age = float(data_df.iloc[i,4])
    sex = data_df.iloc[i,5]
    bmi = float(data_df.iloc[i,6])

    smoke = str(data_df.iloc[i,7])

    rf = str(data_df.iloc[i,8])
    ccp = str(data_df.iloc[i,9])
 
    try : visit_dict['das'].append(das)
    except KeyError: visit_dict['das'] = [das]
    
    try : visit_dict['age'].append(age)
    except KeyError: visit_dict['age'] = [age]
        
    try : visit_dict['sex'].append(sex)
    except KeyError: visit_dict['sex'] = [sex]
    
    if math.isnan(bmi) == False:
        try : visit_dict['bmi'].append(bmi)
        except KeyError: visit_dict['bmi'] = [bmi]
            
    try : visit_dict['bmi_full'].append(str(bmi))
    except KeyError: visit_dict['bmi_full'] = [str(bmi)]

    try : visit_dict['smoke'].append(smoke)
    except KeyError: visit_dict['smoke'] = [smoke]
    
    try : visit_dict['rf'].append(rf)
    except KeyError: visit_dict['rf'] = [rf]
        
    try : visit_dict['ccp'].append(ccp)
    except KeyError: visit_dict['ccp'] = [ccp]

    return visit_dict

In [133]:
def result_summary(visit_dict):

    print ("sex f/m", visit_dict['sex'].count("female"), visit_dict['sex'].count("male"))
    print ("age", statistics.mean(visit_dict['age']), statistics.stdev(visit_dict['age']))
    print ("age min/max", min(visit_dict['age']), max(visit_dict['age']))
    print ("das", statistics.mean(visit_dict['das']), statistics.stdev(visit_1_dict['das']))
    print ("das min/max", min(visit_dict['das']), max(visit_1_dict['das']))
    print ("bmi", statistics.mean(visit_dict['bmi']), statistics.stdev(visit_dict['bmi']))
    print ("bmi min/max", min(visit_dict['bmi']), max(visit_1_dict['bmi']))
    print ("NA in BMI:", visit_1_dict["bmi_full"].count("nan"))
    print ("smoke current:", visit_dict['smoke'].count("current (within 3 months)"))
    print ("smoke former:", visit_dict['smoke'].count("former"))
    print ("smoke never:", visit_dict['smoke'].count("never"))
    print ("smoke NA:", visit_dict['smoke'].count("nan"))
    
    print ("RF +:", visit_dict['rf'].count("positive"))
    print ("RF -:", visit_dict['rf'].count("negative"))
    print ("RF NA:", visit_dict['rf'].count("nan"))
    
    print ("anti-ccp +:", visit_dict['ccp'].count("positive"))
    print ("anti-ccp -:", visit_dict['ccp'].count("negative"))
    print ("anti-ccp NA:", visit_dict['ccp'].count("nan"))

In [134]:
visit_1_dict = {}
visit_2_dict = {}

for i in range(r):
    visit_status = data_df.iloc[i,2]
    
    if visit_status == 1:
        visit_1_dict = info_to_list(visit_1_dict, data_df, i)
        
    if visit_status == 2:
        visit_2_dict = info_to_list(visit_2_dict, data_df, i)

In [135]:
result_summary(visit_1_dict)

sex f/m 44 20
age 62.734375 10.500555068472892
age min/max 32.0 85.0
das 3.07632609375 1.3132858653769122
das min/max 1.44995 7.000310000000001
bmi 30.560862068965516 5.661718257716827
bmi min/max 22.4 45.3
NA in BMI: 6
smoke current: 7
smoke former: 31
smoke never: 25
smoke NA: 1
RF +: 36
RF -: 15
RF NA: 13
anti-ccp +: 44
anti-ccp -: 13
anti-ccp NA: 7

In [136]:
result_summary(visit_2_dict)

sex f/m 44 20
age 63.53125 10.645766354276299
age min/max 33.0 86.0
das 3.039556875 1.3132858653769122
das min/max 1.2070299999999998 7.000310000000001
bmi 31.138333333333335 6.181798379571576
bmi min/max 22.82 45.3
NA in BMI: 6
smoke current: 5
smoke former: 32
smoke never: 27
smoke NA: 0
RF +: 3
RF -: 3
RF NA: 58
anti-ccp +: 4
anti-ccp -: 3
anti-ccp NA: 57